{% extends "layout.html.jinja" %}

{% block middle %}
<h1>EKSTRAKCJA OPINII PRODUKTU</h1>
<div class="form">
    <form class="row g-3 pt-5 text-justify" method="POST">
        <div class="col-auto">
            <label for="id" class="form-control-plaintext">Podaj kod produktu:</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="id" name="id" placeholder="Kod produktu" required>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn mb-3 download-button ">Pobierz</button>
        </div>
    </form>
</div>
<p class ="error">{{ error }}</p>
{% endblock middle %}