{% extends "layout.html.jinja" %}

{% block middle %}
<link href="../static/datatables.min.css" rel="stylesheet" />
<h1><a class="link-title" href={{ceneo}}>{{product.name}}</a></h1>
<a type ="button" class="btn mb-5 mt-5 charts-button" href="{{url_for('charts', id=product.id)}}">Wykresy</a>

<table class="table table-bordered table-striped table-responsive" id='reviews'>
    <thead>
        <th>id</th>
        <th>Autor</th>
        <th>Poleca</th>
        <th>Ocena</th>
        <th>Potwierdzona zakupem</th>
        <th>Data publikacji</th>
        <th>Data zakupu</th>
        <th>Pozytywne</th>
        <th>Negatywne</th>
        <th>Treść</th>
        <th>Zalety</th>
        <th>Wady</th>
    </thead>
    <tfoot class="show-footer-top">
        <tr>
            <th>id</th>
            <th>Autor</th>
            <th>Poleca</th>
            <th>Ocena</th>
            <th>Potwierdzona zakupem</th>
            <th>Data publikacji</th>
            <th>Data zakupu</th>    
            <th>Pozytywne</th>
            <th>Negatywne</th>
            <th>Treść</th>
            <th>Zalety</th>
            <th>Wady</th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>
{% endblock middle %}


{%block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="../static/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#reviews tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width: 70px; text-align: center;" placeholder="Szukaj" />');
        });
        $('#reviews').DataTable({
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },
            dom: 'Bfrtip',
            data: {{ product.reviews }},
        columns: [
        { data: 'id' },
        { data: 'author' },
        { data: 'reference' },
        { data: 'stars' },
        { data: 'is_purchased' },
        { data: 'review_date' },
        { data: 'purchase_date' },
        { data: 'positive' },
        { data: 'negative' },
        { data: 'content' },
        { data: 'assets' },
        { data: 'drawbacks' }
    ],
        buttons: [{
            extend: 'csv',
            charset: 'UTF-8',
            fieldSeparator: '\t',
            bom: true
        }, 'excel', {
            text: 'JSON',
            action: function (e, dt, button, config) {
                var data = dt.buttons.exportData();

                $.fn.dataTable.fileSave(
                    new Blob([JSON.stringify(data)]),
                    'Export.json'
                );
            }
        }]
    });
});
</script>
{%endblock scripts%}