{% extends "layout.html.jinja" %}

{% block middle %}
<link href="../static/datatables.min.css" rel="stylesheet" />

<h1>LISTA PRODUKTÓW</h1>
<table class="table table-bordered table-striped table-responsive" id='products'>
    <thead>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Liczba opinii</th>
        <th>Liczba wad</th>
        <th>Liczba zalet</th>
        <th>Średnia ocena</th>
    </thead>
    <tbody></tbody>
</table>
{% endblock middle %}


{%block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="../static/datatables.min.js"></script>

<script>

    $('#products').DataTable({
        dom: 'Bfrtip',
        data: {{ products }},
        columns: [
        { data: 'id' },
        {
            data: 'name',
            render: function(data, type, row){
                return '<a href="http://127.0.0.1:5000/product/'+row.id+'" style="  color: #ff6400; text-decoration: none;">'+data+'</a>';
            }
        },
        { data: 'reviews_counted' },
        { data: 'drawbacks_counted' },
        { data: 'assets_counted' },
        { data: 'average_stars' }
    ],
        buttons: [{
            extend: 'csv',
            charset: 'UTF-8',
            fieldSeparator: '\t',
            bom: true
        }, 'excel', {
            text: 'JSON',
            action: function (e, dt, button, config) {
                var data = dt.buttons.exportData();

                $.fn.dataTable.fileSave(
                    new Blob([JSON.stringify(data)]),
                    'products.json'
                );
            }
        }]
});
</script>
{%endblock scripts%}